:root {
  --primary-color: #95407a;
  --secondary-color: #fbeff4;
  --font-size-medium: 22.5px;
  --font-size-large: 26.25px;
}

/* general reset */
*,
*:after,
*:before {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

.body {
  background: #f5f5f5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.container {
  position: relative;
  background: var(--secondary-color);
  display: flex;
  flex-flow: column wrap;
  margin: 2rem auto;
  min-width: 320px;
  width: 1440px;
  flex-shrink: 0;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.section-titles {
  display: flex;
}
.card-laptop {
  background: var(--primary-color);
  color: white;
  width: 661.5px;
  height: 405px;
  flex-shrink: 0;
}

.card-laptop__titles {
  color: var(--secondary-color);
  position: relative;
  display: flex;
  font-weight: 300;
  flex-flow: column wrap;
  align-items: flex-end;
  padding: 3.128em;
  margin-bottom: 0.5rem;
}
.card-laptop__rectangle {
  position: absolute;
  top: 48.984em;
  left: 19.921em;
  right: -4.781em;
  background-color: var(--secondary-color);
  width: 471.75px;
  height: 144.75px;
  flex-shrink: 0;
  z-index: 0;
}
.card-laptop__title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-laptop-subtitle {
  font-size: 33.75px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.figure-laptop {
  position: relative;
  z-index: 1;
  left: 6.555em;
  top: -13px;
  width: 609.12px;
  height: 675.909px;
  flex-shrink: 0;
}

.figure-laptop__img {
  width: 100%;
  z-index: 999;
}

.inmeza-info-container {
  margin: 0.809em auto 2.195em auto;
  display: flex;
  flex-flow: column nowrap;
}
.inmeza-info {
  display: flex;
  width: 100%;
  height: 60%;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2.995em;
  margin: 0.5rem auto 2rem auto;
}
.inmeza-info__title {
  width: 442.812px;
  height: 118.819px;
  flex-shrink: 0;
}

.inmeza-info__image {
  width: 100%;
}

.inmeza-info-date__titles {
  display: flex;
  color: var(--primary-color);
  flex-flow: column wrap;
  align-items: center;
}
.inmeza-info-date__title {
  font-size: 67.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.inmeza-info-date__subtitle {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.inmeza-info-adress {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.inmeza-info-adress__text-item {
  color: var(--primary-color);
  text-align: center;
  font-size: 1.39em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.inmeza-info-icons__images {
  width: 473.002px;
  height: 71.114px;
  flex-shrink: 0;
}
.inmeza-info-icons__img {
  width: 100%;
}
.invitation-card {
  display: flex;
  flex-flow: row nowrap;
  background: var(--primary-color);
  width: 1440px;
  height: 716.25px;
  flex-shrink: 0;
}
.invitation__text {
  display: flex;
  flex-basis: 58%;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 0.4rem 0 0.04rem 0.04rem;
  margin: 11.296em auto 5.468em 13.031em;
}
.invitation__text-item {
  color: var(--secondary-color);
  font-size: 1.406em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.invitation__bold-text {
  font-weight: 600;
}

.invitation-figure {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  height: 100%;
}
.invitation-figure__img {
  width: 100%;
}

.card-map {
  display: flex;
  width: 100%;
  height: 25%;
}

.card-map__figure {
  width: 900.257px;
  height: 504.302px;
  flex-shrink: 0;
  margin: 5.055em auto 3.504em auto;
}
.card-map__img {
  width: 100%;
}

.card-map__schedule {
  display: flex;
  flex-flow: column nowrap;
  color: var(--primary-color);
  width: 40%;
  font-size: 6px;
  font-weight: 900;
}

.card-map__schedule-text {
  margin-top: 4.546em;
}
.card-schedule-text__item {
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* title schedule: change to font-size and margin */
.text__item--mb {
  margin-bottom: 35.25px;
  font-size: 26.5px;
}

.card-map__warning-text {
  margin: 44px auto;
  padding: 7.5px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-map__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: var(--primary-color);
  border-radius: 15px;
  width: 382.5px;
  height: 102px;
  flex-shrink: 0;
}
.card-map__button {
  color: var(--secondary-color);
  background-color: transparent;
  border-style: none;
  border-radius: 8px;
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 1rem;
  width: 100%;
  background-color: var(--primary-color);
}
.footer__title {
  width: 100%;
  color: var(--secondary-color);
  font-weight: 100;
  font-size: 0.4em;
  text-align: center;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
}
.footer__icons {
  width: 16.5rem;
}
.footer_img {
  width: 100%;
  margin-bottom: 0.5rem;
}
.display--flex {
  display: flex;
}
.display--none {
  display: none;
}
.modal-container {
  background-color: #00000090;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: thin solid grey;
  justify-content: center;
  align-items: center;
  z-index: 995;
}
.modal-container__figure {
  font-size: var(--font-size-large);
  position: relative;
  width: 480px;
  height: 513px;
  z-index: 997;
}
.modal__img {
  position: relative;
  width: 100%;
}
.button-close-modal {
  position: absolute;
  background-color: transparent;
  top: 12px;
  right: 12px;
  border: none;
  color: var(--secondary-color);
  font-size: var(--font-size-large);
  cursor: pointer;
  z-index: 999;
}
