:root {
  --primary-color: #95407a;
  --secondary-color: #fbeff4;
}
*,
*:after,
*:before {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

.body {
  background: #f5f5f5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.container {
  background: var(--secondary-color);
  width: 340px;
  min-width: 340px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.section-titles {
  display: flex;
}
.card-laptop {
  background: var(--primary-color);
  color: white;
  height: 80px;
  width: 50%;
}

.card-laptop__titles {
  position: relative;
  display: flex;
  font-weight: 300;
  flex-flow: column wrap;
  align-items: flex-end;
  padding: 0.7rem;
  margin-bottom: 0.5rem;
}
.card-laptop__rectangle {
  right: -1.8rem;
  bottom: -10.5rem;
  position: absolute;
  background-color: var(--secondary-color);
  width: 75%;
  height: 2.5rem;
}
.card-laptop__title {
  width: 6rem;
}
.card-laptop-subtitle {
  font-size: 0.4em;
  font-weight: 300;
  padding-right: 0.3rem;
}
.figure-laptop {
  width: 9rem;
  position: relative;
  left: 20px;
  top: -13px;
  z-index: 1;
}

.figure-laptop__img {
  width: 100%;
}

.inmeza-info-container {
  margin: 1rem auto 0.5rem auto;
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  width: 60%;
}
.inmeza-info {
  display: flex;
  width: 100%;
  height: 60%;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.6rem;
  margin-left: 1rem;
}
.inmeza-info__title {
  width: 6rem;
}

.inmeza-info__image {
  width: 100%;
}

.inmeza-info-date__titles {
  display: flex;
  color: var(--primary-color);
  flex-flow: column wrap;
  align-items: center;
}
.inmeza-info-date__title {
  font-weight: 800;
  font-size: 0.8em;
}
.inmeza-info-date__subtitle {
  display: flex;
  font-size: 4px;
  justify-content: flex-end;
  letter-spacing: 0.2px;
  width: 100%;
  font-weight: 900;
}

.inmeza-info-adress {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.inmeza-info-adress__text-item {
  color: var(--primary-color);
  font-size: 4px;
  text-align: center;
}
.inmeza-info-adress__text--line-medium {
  line-height: 1.6;
}
.inmeza-info-icons__images {
  width: 8rem;
}
.inmeza-info-icons__img {
  width: 100%;
}
.invitation-card {
  display: flex;
  background: var(--primary-color);
  width: 100%;
}
.invitation__text {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 55%;
  padding: 0.4rem 0 0.04rem 0.04rem;
  margin-top: 2.5rem;
  margin-left: 3.5rem;
  padding-bottom: 1rem;
}
.invitation__text-item {
  font-size: 6px;
  font-weight: 100;
  color: var(--secondary-color);
  width: 100%;
  letter-spacing: 1.6;
  margin-bottom: 0.5rem;
}
.invitation__bold-text {
  font-weight: 600;
}

.invitation-figure {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  height: 100%;
}
.invitation-figure__img {
  width: 100%;
}

.card-map {
  display: flex;
  width: 100%;
  height: 25%;
}

.card-map__figure {
  width: 60%;
  padding: 1rem 0 1rem 1rem;
}
.card-map__img {
  width: 100%;
}

.card-map__schedule {
  margin-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  color: var(--primary-color);
  width: 40%;
  font-size: 6px;
  font-weight: 900;
}

.card-map__schedule-text {
  width: 100%;
}
.card-schedule-text__item {
  font-size: 5.5px;
  letter-spacing: 0.2px;
  line-height: 1.5;
}
.text__item--mb {
  margin-bottom: 0.7rem;
}

.text--mr {
  margin-right: 2rem;
}
.card-map__warning-text {
  font-size: 1.5em;
  text-align: center;
  padding: 0.8rem;
}

.card-map__button-container {
  text-align: center;
}
.card-map__button {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-style: none;
  border-radius: 8px;
  width: 5rem;
  padding: 0.7rem 1rem;
  font-size: 1.1em;
  letter-spacing: 0.8px;
}
.footer {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 1rem;
  width: 100%;
  background-color: var(--primary-color);
}
.footer__title {
  width: 100%;
  color: var(--secondary-color);
  font-weight: 100;
  font-size: 0.4em;
  text-align: center;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
}
.footer__icons {
  width: 16.5rem;
}

.footer_img {
  width: 100%;
  margin-bottom: 0.5rem;
}
